.formdiv {
  border: 2px solid ;
  background-image: url(https://i.picsum.photos/id/1019/5472/3648.jpg?hmac=2mFzeV1mPbDvR0WmuOWSiW61mf9DDEVPDL0RVvg1HPs);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.formd {
  opacity: 0.8;
  color: rgb(3, 10, 18);
  margin: 161px 478px;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 350px;
  width: 350px;
  border: 2px solid rgb(79, 170, 215);
  box-shadow: 40px 18px 0px rgb(185, 246, 246);
}

.emaildiv {
  margin-top: 5px;
}
.emailpass {
  width: 230px;
  height: 30px;
  outline: none;
  border: none;
  margin: 5px 5px;
  padding: 2px 2px;
  border-radius: 20px;
  color: black;
}
.signin {
  background-color: rgb(21, 247, 213);
  width: 100px;
  height: 30px;
  border-radius: 30px;
  margin: 5px 5px;
  padding: 2px 2px;
  border: none;
  outline: none;
}
.signin:hover {
  color: aliceblue;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

